<h1>My Cocktail</h1>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="..." class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @cocktail.name %></h5>
        <p class="card-text">This should diplay the list of ingredients.</p>
        <ul>
        <li> </li>
        </ul>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  <%= link_to "See all Cocktails", cocktails_path %>
</div>
